@font-face {
	font-family: 'BankGothicRegular';
	src: url('../fonts/BankGothicRegular.eot');
	src: local('BankGothicRegular'), url('../fonts/BankGothicRegular.woff') format('woff'), url('../fonts/BankGothicRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10279">Text with this font applied</p> */
.fontsforweb_fontid_10279 {
	font-family: 'BankGothicRegular' !important;
}

/* Font downloaded from FontsForWeb.com */